html {
    
}

body {
    background: rgba(0,0,0,0.9);
    color: rgba(255,255,255,0.6);
    font-size: 17px;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

pre {
    
}

input[type="file"] {
    font-size: 18px;
}

.content {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
}

.file_picker {
    display: block;
    margin-bottom: 15px;
}

/* Codemirror theme tweaks */
.editor.CodeMirror {
    background: transparent;
    height: auto;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5px;
    overflow: visible;
    /* override ambiance box shadow */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.editor .CodeMirror-cursor {
    border-left-width: 3px !important;
}
.editor .CodeMirror-scroll {
    overflow-x: auto;
    overflow: hidden;
}
.editor .CodeMirror-vscrollbar,
.editor .CodeMirror-scrollbar-filler {
    display: none !important;
}

.output {
    font-size: 14px;
    margin: 25px 0;
    padding: 15px;
    background: rgba(255,255,255,0.05);
    border-radius: 4px;
    display: block;
    white-space: pre-wrap;
    max-height: 250px;
    overflow: auto;
}
